@font-face {
    font-family: "Galgony";
    src: url('../font/Galgony.ttf');
}
nav{
   
}
.link {
    transition: 0.3s ease;
    color: #ffffffb0;
    font-size: 20px;
    padding: 20px 0;
    margin: 0 20px;
    text-decoration: none;
  }
.link:hover {
    color: floralwhite;
    padding: 1px 0; 
}
#header{
    background-color: #4D8581;
    height: 60px;
}
#title{
    font-family: "Galgony";
    color: ivory;
    margin-left: 25px;
}
#flag{
    margin: 0px 0px 0px 950px;
    margin-top: 15px;
}
/* header2 */
#header2{
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #DBCBBE;
    color:#4D8581;
    height: 50px;
}

#searchbar{
    font-size: 13px;
    width: auto;
}

#header2 #user{
    margin-left: 320px;
}

input{
    padding-left: 300px;
    border-radius:10px;
    border-color: #4D8581;
}

#search{
    margin-left: 260px;
}

#profil{
    color: #4D8581;
    padding-left: 10px;
    font-size: large;
}

#sp{
    padding-right: 25px;
}

img {
    cursor: pointer;
    width: 230px;
    height: 300px;
}

i {
    color:#4D8581;
}